/* Coolors Exported Palette - coolors.co/3c4859-177e89-084c61-db3a34-ffc857 */

/* HSL */
$color1: hsla(215%, 19%, 29%, 1);
$color2: hsla(186%, 71%, 31%, 1);
$color3: hsla(194%, 85%, 21%, 1);
$color4: hsla(2%, 70%, 53%, 1);
$color5: hsla(40%, 100%, 67%, 1);

/* RGB */
$color1: rgba(60, 72, 89, 1);
$color2: rgba(23, 126, 137, 1);
$color3: rgba(8, 76, 97, 1);
$color4: rgba(219, 58, 52, 1);
$color5: rgba(255, 200, 87, 1);