/* Coolors Exported Palette - coolors.co/3c4859-0cce6b-dced31-ef2d56-ed7d3a */

/* HSL */
$color1: hsla(215%, 19%, 29%, 1);
$color2: hsla(149%, 89%, 43%, 1);
$color3: hsla(65%, 84%, 56%, 1);
$color4: hsla(347%, 86%, 56%, 1);
$color5: hsla(22%, 83%, 58%, 1);

/* RGB */
$color1: rgba(60, 72, 89, 1);
$color2: rgba(12, 206, 107, 1);
$color3: rgba(220, 237, 49, 1);
$color4: rgba(239, 45, 86, 1);
$color5: rgba(237, 125, 58, 1);